# Chapter#01 and Chapter#02

In [38]:
name = "Dildar"
score=78
print(name,score)

Dildar 78

In [2]:
name='dildar'
name.title()

'Dildar'

In [3]:
name.upper()

'DILDAR'

In [4]:
name.capitalize()

'Dildar'

In [5]:
name.lower()

'dildar'

In [6]:
a=2+5j
type(a)

complex

In [8]:
name="Dildar"
caste="Baloch"
print(name+caste)

DildarBaloch

In [9]:
print(name,caste)

Dildar Baloch

In [11]:
a='10'
b='90'
a+b

'1090'

In [12]:
a=10
b=90
a+b

100

In [13]:
a=10
b=90
a+b==100

True

In [17]:
name='ali '
name.rstrip()

'ali'

In [18]:
name.lstrip()

'ali '

In [19]:
name.strip()

'ali'

In [21]:
print("My name's Dildar Ali.")
print("My name\'s Dildar\'s Ali.")

My name's Dildar Ali.
My name's Dildar's Ali.

In [24]:
2**3**2

512

In [27]:
(2**3)**2

64

In [28]:
23//2

11

In [31]:
age=22
message="Happy "+ age + "nd Birthday Dildar!"
print(message)

TypeError: can only concatenate str (not "int") to str

In [32]:
age=22
message="Happy ",age, "nd Birthday Dildar!"
print(message)

('Happy ', 22, 'nd Birthday Dildar!')

In [33]:
age=22
message="Happy "+str(age) + "nd Birthday Dildar!"
print(message)

Happy 22nd Birthday Dildar!

In [34]:
fav_number=1860
message="My favourite number is "+fav_number+"!"
print(message)

TypeError: can only concatenate str (not "int") to str

In [35]:
fav_number=1860
message="My favourite number is ",fav_number,"!"
print(message)

('My favourite number is ', 1860, '!')

In [36]:
fav_number=1860
message="My favourite number is "+str(fav_number)+"!"
print(message)

My favourite number is 1860!

# Chapter#03

In [39]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
print(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

In [41]:
bicycles[0.title()]

SyntaxError: invalid syntax (3537589308.py, line 1)

In [42]:
print(bicycles[0].title())

Trek

In [43]:
print(bicycles[2].upper())

REDLINE

In [44]:
print("My first bicycle was",bicycles[0].title())

My first bicycle was Trek

In [45]:
print("My first bicycle was"+bicycles[0].title())

My first bicycle wasTrek

In [46]:
names=["aamir","kazim","bilal"]
for name in names:
    print(name.title())

Aamir
Kazim
Bilal

In [47]:
names=["aamir","kazim","bilal"]
for name in names:
    print("You are my best friend"+" "+name.title()+"!")

You are my best friend Aamir!
You are my best friend Kazim!
You are my best friend Bilal!

In [48]:
cars=["Civic","city","suzuki","parado"]
cars.append("xyz")
cars

['Civic', 'city', 'suzuki', 'parado', 'xyz']

In [49]:
cars.pop(2)

'suzuki'

In [50]:
cars

['Civic', 'city', 'parado', 'xyz']

In [51]:
cars.insert(2,"suzuki")

In [52]:
cars

['Civic', 'city', 'suzuki', 'parado', 'xyz']

In [55]:
del cars[-1]
cars

['Civic', 'city', 'suzuki', 'parado']

In [56]:
cars.remove("city")
cars

['Civic', 'suzuki', 'parado']

In [57]:
cars[2]='ali'
cars

['Civic', 'suzuki', 'ali']

In [58]:
cars[2]='mehran'
cars

['Civic', 'suzuki', 'mehran']

In [60]:
gues_list=['ali', 'Asad', 'aamir', 'Abdul', 'Umer', 'Dildar']
gues_list.sort()
print(gues_list)

['Abdul', 'Asad', 'Dildar', 'Umer', 'aamir', 'ali']

In [63]:
gues_list.reverse()
print(gues_list)

['ali', 'aamir', 'Umer', 'Dildar', 'Asad', 'Abdul']

In [64]:
print(gues_list.reverse())

None

In [71]:
cities=["karachi","Multan","Lahore","Dadu","Sehwan"]
cities.append("Larkana")
cities.insert(1,"Jamshoro")
cities

['karachi', 'Jamshoro', 'Multan', 'Lahore', 'Dadu', 'Sehwan', 'Larkana']

In [72]:
len(cities)

7

In [73]:
cities.remove("Sehwan")
cities

['karachi', 'Jamshoro', 'Multan', 'Lahore', 'Dadu', 'Larkana']

In [74]:
cities.pop(3)
cities

['karachi', 'Jamshoro', 'Multan', 'Dadu', 'Larkana']

In [75]:
del cities[2]
cities

['karachi', 'Jamshoro', 'Dadu', 'Larkana']

In [76]:
cities.clear()
cities

[]

# Chapter#04

In [78]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians: 
     print("Hello"+" "+magician.title())

Hello Alice
Hello David
Hello Carolina

In [79]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians: 
     print("Hello",magician.title())

Hello Alice
Hello David
Hello Carolina

In [81]:
magicians = ['alice', 'david', 'carolina'] 
for magician in magicians:
    
    print(magician.title()+", that was great trick!")
    print("I can't wait to see your next trick "+magician.title()+"\n") 
print("#Thankyou everyone, that was great magic show!#")

Alice, that was great trick!
I can't wait to see your next trick Alice

David, that was great trick!
I can't wait to see your next trick David

Carolina, that was great trick!
I can't wait to see your next trick Carolina

#Thankyou everyone, that was great magic show!#

In [82]:
for a in range(1,5):
    print(a,"Dildar")

1 Dildar
2 Dildar
3 Dildar
4 Dildar

In [85]:
for a in range(5):
    print(a,end=' ')

0 1 2 3 4

In [86]:
a=list(i for i in range(1,6))
print(a)

[1, 2, 3, 4, 5]

In [88]:
a=list(range(1,6))
print(a)

[1, 2, 3, 4, 5]

In [89]:
a=[i for i in range(1,6)]
a

[1, 2, 3, 4, 5]

In [90]:
even_numbers=list(range(2,21,2))
print("Even NUmbers: ",even_numbers)

Even NUmbers:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [91]:
even_numbers=list(range(1,21,2))
print("Odd NUmbers: ",even_numbers)

Odd NUmbers:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [92]:
squares=[]
for a in range(1,11):
    square=a**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [93]:
squares=[]
for a in range(1,11):
      squares.append(a**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [94]:
digits=[1,2,3,4,5,6,7,8,9]
max(digits)

9

In [96]:
min(digits)

1

In [97]:
sum(digits)

45

In [98]:
a=range(101)
sum(a)

5050

In [99]:
max(a)

100

In [101]:
squares=[a**2 for a in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [102]:
cubes=[a**3 for a in range(1,11)]
cubes

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [105]:
for i in range(1,21):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [106]:
for i in range(1,21,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

In [107]:
for i in range(2,21,2):
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

In [111]:
a=range(1,1000001)
min(a)

1

In [112]:
max(a)

1000000

In [113]:
sum(a)

500000500000

In [114]:
a=[i for i in range(1,20,2)]
a

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [115]:
players = ['charles', 'martina', 'michael', 'florence', 'eli'] 
print(players[0:3])

['charles', 'martina', 'michael']

In [116]:
players

['charles', 'martina', 'michael', 'florence', 'eli']

In [117]:
players[0]='Ali'
players

['Ali', 'martina', 'michael', 'florence', 'eli']

In [118]:
players.insert(0,"xyz")
players

['xyz', 'Ali', 'martina', 'michael', 'florence', 'eli']

In [119]:
players.insert(0,"yz")
players

['yz', 'xyz', 'Ali', 'martina', 'michael', 'florence', 'eli']

In [124]:
players.insert(4,"xy")
players

['Ali', 'martina', 'xy', 'michael', 'xy', 'florence', 'eli']

In [125]:
players.pop(0)
#players

'Ali'

In [126]:
players

['martina', 'xy', 'michael', 'xy', 'florence', 'eli']

In [127]:
players[:-1]

['martina', 'xy', 'michael', 'xy', 'florence']

In [128]:
players[:-2]

['martina', 'xy', 'michael', 'xy']

In [129]:
players[::-2]

['eli', 'xy', 'xy']

In [130]:
players[::-1]

['eli', 'florence', 'xy', 'michael', 'xy', 'martina']

In [132]:
players[3:0:-1]

['xy', 'michael', 'xy']

In [133]:
a=[1,2,3,4,5,6,7,8]
a[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

In [134]:
a[::-2]

[8, 6, 4, 2]

In [135]:
a[2:0:-1]

[3, 2]

In [136]:
a[5:1:-1]

[6, 5, 4, 3]

In [137]:
a[5:1:-1]
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [138]:
a[-3:]

[6, 7, 8]

In [139]:
a[-8:10]

[1, 2, 3, 4, 5, 6, 7, 8]

In [140]:
a="Dildar"
a[0]

'D'

In [141]:
a[-1:]

'r'

In [142]:
a[::-1]

'radliD'

In [143]:
a[2:]

'ldar'

In [144]:
a.insert(0,'s')

AttributeError: 'str' object has no attribute 'insert'

In [146]:
a=[2,4,5,6,7,8]
a[2::]

[5, 6, 7, 8]

In [147]:
a[::]

[2, 4, 5, 6, 7, 8]

In [148]:
a[:2:]

[2, 4]

In [151]:
a[-1::]

[8]

In [156]:
a[-1:-10]

[]

In [158]:
a[-8:]

[2, 4, 5, 6, 7, 8]

In [159]:
a[-8]

IndexError: list index out of range

In [160]:
a=(1,2,3)
a

(1, 2, 3)

In [161]:
a.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [162]:
a.insert(0,2)

AttributeError: 'tuple' object has no attribute 'insert'

In [163]:
a[0]

1

In [164]:
a[0]="Ali"

TypeError: 'tuple' object does not support item assignment

# Chapter#05

In [165]:
cars = ['audi', 'bmw', 'subaru', 'toyota']
for car in cars:
     if car == 'bmw':
             print(car.upper())
     else:
         print(car.title())

Audi
BMW
Subaru
Toyota

In [166]:
names=["Bilal","Dildar","Ali"]
"Dildar" in names

True

In [167]:
brothers=["Ghulam","Khadim","Yameen"]
friend="ali"
if friend not in brothers:
    print(friend.title(),"Let's go to party!")

Ali Let's go to party!

In [168]:
car = 'Suzuki'
print("Is car == 'Suzuki'? I predict True.")
print(car == 'Suzuki')

print("\nIs car == 'audi'? I predict False.")
print(car == 'audi')

Is car == 'Suzuki'? I predict True.
True

Is car == 'audi'? I predict False.
False

In [169]:
age=20
if age>=18:
    print("You are old enough to vote!")
    print("Have you registered for vote yet?")
else:
    print("You are too young to vote!")
    print("Please registere for vote as soon as possible")

You are old enough to vote!
Have you registered for vote yet?

In [170]:
age=15
if age<4:
    print("Your addmission cost is $0")
elif age<18:
    print("Your addmission cost is $5")
else:
    print("Your addmission cost is $10")

Your addmission cost is $5

In [171]:
age=15
price=0
if age<4:
    price=0
elif age<18:
    price=5
else:
    price=10
    
print("Your admission cost is $"+str(price)+".")

Your admission cost is $5.

In [172]:
requested_toppings = ['mushrooms', 'extra cheese']
if 'mushrooms' in requested_toppings:
     print("Adding mushrooms.")
elif 'pepperoni' in requested_toppings:
     print("Adding pepperoni.")
elif 'extra cheese' in requested_toppings:
     print("Adding extra cheese.")
 
print("\nFinished making your pizza!")

Adding mushrooms.

Finished making your pizza!

In [173]:
requested_toppings = ['mushrooms', 'extra cheese']
if 'mushrooms' in requested_toppings:
     print("Adding mushrooms.")
if 'pepperoni' in requested_toppings:
     print("Adding pepperoni.")
if 'extra cheese' in requested_toppings:
     print("Adding extra cheese.")
 
print("\nFinished making your pizza!")

Adding mushrooms.
Adding extra cheese.

Finished making your pizza!

In [174]:
alien_color=['green','yellow','red']
if "green" in alien_color:
    print("Player just earned 5 points for shooting the alien!")
if "yellow" in alien_color:    
    print("Player just earned 10 points")
if "red" in alien_color:    
    print("Player just earned 15 points")

Player just earned 5 points for shooting the alien!
Player just earned 10 points
Player just earned 15 points

In [175]:
age=23
if age<2:
    print("You are a baby.")
elif age<=2 or age<4:
    print("You are a toddler.")
elif age<=4 or age<13:
    print("You are a kid.")
elif age<=13 or age<20:
    print("You are a teenager.")    
elif age<=20 or age<65:
    print("You are a adult.")  
else:
    print("You are a elder.")

You are a adult.

In [177]:
age=23
stage=0
if age<2:
    stage='Baby'
elif age<=2 or age<4:
    stage="toddler"
elif age<=4 or age<13:
    stage='kid'
elif age<=13 or age<20:
    stage='teenager'    
elif age<=20 or age<65:
    stage='adult'  
else:
     stage="elder"
        
print(f"you are a {stage}")

you are a adult

In [178]:
requested_toppings = ['mushrooms', 'green peppers', 'extra cheese',"kabab"]
for requested_topping in requested_toppings:
 print("Adding " + requested_topping + ".")
print("\nFinished making your pizza!")

Adding mushrooms.
Adding green peppers.
Adding extra cheese.
Adding kabab.

Finished making your pizza!

In [179]:
requested_toppings = ['mushrooms', 'green peppers', 'extra cheese',"kabab"]
for requested_topping in requested_toppings:
    if requested_topping=="green peppers":
        print("Sorry, we are out of green peppers right now!!")
    else:    
         print("Adding " + requested_topping + ".")
print("\nFinished making your pizza!")

Adding mushrooms.
Sorry, we are out of green peppers right now!!
Adding extra cheese.
Adding kabab.

Finished making your pizza!

In [180]:
available_toppings = ['mushrooms', 'olives', 'green peppers', 'pepperoni', 'pineapple', 'extra cheese']
requested_toppings = ['mushrooms', 'french fries', 'extra cheese']
for requested_topping in requested_toppings:
    if requested_topping in available_toppings:    
                    print("Adding "+requested_topping+".") 
    else:
        print("Sorry we don't have"+requested_topping+".")
print("\nFinished making your pizza!")

Adding mushrooms.
Sorry we don't havefrench fries.
Adding extra cheese.

Finished making your pizza!

In [181]:
user_name=["Dildar","Ali",'Asad',"Admin","Aamir"]
for names in user_name:
    if names=="Admin":
        print("Hello Admin, would you like to see a status report?")
    else:
        print('Hello '+names.title()+", thank you for logging in again!")

Hello Dildar, thank you for logging in again!
Hello Ali, thank you for logging in again!
Hello Asad, thank you for logging in again!
Hello Admin, would you like to see a status report?
Hello Aamir, thank you for logging in again!

In [182]:
current_users=["Dildar","Yameen","Khadim","Bilal","Aamir"]
new_users=["Ali","Asad","Dildar","Bilal","Nasir"]
for names in new_users:
    if names in current_users:
        print("Need to enter "+names+" in new username.")
    else:
        print(names+" is available.")

Ali is available.
Asad is available.
Need to enter Dildar in new username.
Need to enter Bilal in new username.
Nasir is available.

In [183]:
numbers = list(range(1,10))

for number in numbers:
    if number == 1:
        print("1st")
    elif number == 2:
        print("2nd")
    elif number == 3:
        print("3rd")
    else:
        print(str(number) + "th")

1st
2nd
3rd
4th
5th
6th
7th
8th
9th

# Chpter#06

In [184]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0["color"])
print(alien_0["points"])

green
5

In [189]:
alien_0['color']="black"
alien_0

{'color': 'black'}

In [190]:
alien_0['points']=1860
alien_0

{'color': 'black', 'points': 1860}

In [185]:
alien_0 = {'color': 'green'}
print(alien_0['color'])

green

In [191]:
alien_0[1]='ali'
alien_0

{'color': 'black', 'points': 1860, 1: 'ali'}

In [192]:
alien_0 = {'color': 'green', 'points': 5}
new_points = alien_0['points']
print("You just earned " + str(new_points) + " points!")

You just earned 5 points!

In [193]:
alien_0 = {'color': 'green', 'points': 5}
#new_points = alien_0['points']
print("You just earned " + str(alien_0['points']) + " points!")

You just earned 5 points!

In [195]:
alien_0 = {}
alien_0['color'] = 'green'
alien_0['points'] = 5
alien_0["name"]='Dildar'
print(alien_0)

{'color': 'green', 'points': 5, 'name': 'Dildar'}

In [196]:
alien_0 = ()
alien_0['color'] = 'green'
alien_0['points'] = 5
print(alien_0)

TypeError: 'tuple' object does not support item assignment

In [197]:
alien_0 = []
alien_0['color'] = 'green'
alien_0['points'] = 5
print(alien_0)

TypeError: list indices must be integers or slices, not str

In [198]:
alien_0 = 0
alien_0['color'] = 'green'
alien_0['points'] = 5
print(alien_0)

TypeError: 'int' object does not support item assignment

In [199]:
alien_0 = {'x_position': 0, 'y_position': 25, 'speed': 'medium'}
print("Original x-position: " + str(alien_0['x_position']))

if alien_0['speed'] == 'slow':
 x_increment = 1
elif alien_0['speed'] == 'medium':
 x_increment = 2
else:
 x_increment = 3

alien_0['x_position'] = alien_0['x_position'] + x_increment
print("New x-position: " + str(alien_0['x_position']))

Original x-position: 0
New x-position: 2

In [200]:
alien_0

{'x_position': 2, 'y_position': 25, 'speed': 'medium'}

In [201]:
del alien_0["x_position"]

In [202]:
alien_0

{'y_position': 25, 'speed': 'medium'}

In [203]:
alien_0['90']=100
alien_0

{'y_position': 25, 'speed': 'medium', '90': 100}

In [204]:
favorite_languages = {
 'jen': 'python',
 'sarah': 'c',
 'edward': 'ruby',
 'phil': 'python',
 }
print("Sarah's favorite language is " +favorite_languages['sarah'].title() + ".")

Sarah's favorite language is C.

In [205]:
for name,language in favorite_languages.items():
    print(name+" -> "+language)

jen -> python
sarah -> c
edward -> ruby
phil -> python

In [206]:

information={"First_name":"Dildar","Last_name":"Ali","Age":22,"City":"Karachi"}

print("Fisrt name: "+information['First_name'])
print("Last name: "+information['Last_name'])
print("Age: "+str(information['Age']))
print("City: "+information['City'])

Fisrt name: Dildar
Last name: Ali
Age: 22
City: Karachi

In [209]:

information={"First_name":"Dildar","Last_name":"Ali","Age":22,"City":"Karachi"}
for a,b in information.items():
    print(a,":",b)

First_name : Dildar
Last_name : Ali
Age : 22
City : Karachi

In [210]:
names={"Dildar":1860,"Ali":123,"Asad":786,"Nasir":736,"Bilal":456}
for name,favourite_number in names.items():
    print(name.title()+"'s favorite number is: "+str(favourite_number))

Dildar's favorite number is: 1860
Ali's favorite number is: 123
Asad's favorite number is: 786
Nasir's favorite number is: 736
Bilal's favorite number is: 456

In [213]:
names={"Dildar":1860,"Ali":123,"Asad":786,"Nasir":736,"Bilal":456}
for name,favourite_number in names.items():
    print(name.title()+"'s favorite number is: "+int(favourite_number))

TypeError: can only concatenate str (not "int") to str

In [214]:
user_0 = {
 'username': 'Ali',
 'first_name': 'Dildar',
 'last_name' : 'Ali'
}
for key, value in user_0.items():
    print("\nKey: " + key)
    print("Value: " + value)

Key: username
Value: Ali

Key: first_name
Value: Dildar

Key: last_name
Value: Ali

In [215]:
user_0 = {
 'username': 'Ali',
 'first_name': 'Dildar',
 'last_name' : 'Ali'
}
for key, value in user_0.items():
    print(key,value)

username Ali
first_name Dildar
last_name Ali

In [216]:
favorite_languages = {'jen': 'python', 'sarah': 'c', 'edward': 'ruby', 'phil': 'python', }
for name, language in favorite_languages.items():
    print(name.title() + "'s favorite language is " +
    language.title() + ".")

Jen's favorite language is Python.
Sarah's favorite language is C.
Edward's favorite language is Ruby.
Phil's favorite language is Python.

In [220]:
for item in favorite_languages.keys():
    print(item)

jen
sarah
edward
phil

In [224]:
for item in favorite_languages.values():
    print(item)

python
c
ruby
python

In [221]:
for item in favorite_languages:
    print(item)

jen
sarah
edward
phil

In [225]:
for value in favorite_languages:
    print(value)

jen
sarah
edward
phil

In [223]:
for item,value in favorite_languages.items():
    print(item,value)

jen python
sarah c
edward ruby
phil python

In [226]:
for value in favorite_languages.items():
    print(value)

('jen', 'python')
('sarah', 'c')
('edward', 'ruby')
('phil', 'python')

In [228]:
favorite_languages = { 'jen': 'python', 'sarah': 'c', 'edward': 'ruby', 'phil': 'python' }
friends = ['phil', 'sarah']
for name in favorite_languages.keys():
     print(name.title())
 
     if name in friends:
         print("Hi " + name.title() + ", I see your favorite language is " + favorite_languages[name].title() + "!")

Jen
Sarah
Hi Sarah, I see your favorite language is C!
Edward
Phil
Hi Phil, I see your favorite language is Python!

In [229]:
favorite_languages = {
 'jen': 'python',
 'sarah': 'c',
 'edward': 'ruby',
 'phil': 'python',
 }
for name in sorted(favorite_languages.keys()):
     print(name.title() + ", thank you for taking the poll.")

Edward, thank you for taking the poll.
Jen, thank you for taking the poll.
Phil, thank you for taking the poll.
Sarah, thank you for taking the poll.

In [231]:
favorite_languages = {
 'jen': 'python',
 'sarah': 'c',
 'edward': 'ruby',
 'phil': 'python',
 }
a=favorite_languages.sort()
for name in a: #sorted(favorite_languages.keys()):
     print(name.title() + ", thank you for taking the poll.")

AttributeError: 'dict' object has no attribute 'sort'

In [232]:
for language in favorite_languages.values():
     print(language.title())

Python
C
Ruby
Python

In [233]:
for language in set(favorite_languages.values()):
     print(language.title())

Ruby
Python
C

In [234]:
rivers={"indus":"pakistan","nile":"egypt",'ganga':'india'}

for river,country_name in rivers.items():
    print("The",river.title(),"river runs through ",country_name.title(),".")

The Indus river runs through  Pakistan .
The Nile river runs through  Egypt .
The Ganga river runs through  India .

In [235]:
favorite_languages = {'jen': 'python','sarah': 'c','edward': 'ruby','phil': 'python' }

for name, language in favorite_languages.items():
    print(name.title() + "'s favorite language is " + language.title() + ".")

print("\n")

coders = ['phil', 'dildar', 'aamir', 'asad', 'sarah', 'bilal', 'edward']
for coder in coders:
    if coder in favorite_languages.keys():
        print("Thank you for taking the poll, " + coder.title() + "!")
    else:
        print(coder.title() + ", what's your favorite programming language?")

Jen's favorite language is Python.
Sarah's favorite language is C.
Edward's favorite language is Ruby.
Phil's favorite language is Python.


Thank you for taking the poll, Phil!
Dildar, what's your favorite programming language?
Aamir, what's your favorite programming language?
Asad, what's your favorite programming language?
Thank you for taking the poll, Sarah!
Bilal, what's your favorite programming language?
Thank you for taking the poll, Edward!

In [236]:
aliens = []

for alien_number in range(30):
    new_alien = {'color': 'green', 'points': 5, 'speed': 'slow'}
    aliens.append(new_alien)

for alien in aliens[:5]:
     print(alien)
print("\n")

print("Total number of aliens: " + str(len(aliens)))

{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}


Total number of aliens: 30

In [238]:
pizza = {'crust': 'thick', 'toppings': ['mushrooms', 'extra cheese']}

print("You ordered a "+ pizza['crust'] +"-crust pizza " +"with the following toppings: ") 
for topping in pizza['toppings']:
       print(topping)

You ordered a thick-crust pizza with the following toppings:
mushrooms
extra cheese

In [240]:
favorite_languages = {
 'jen': ['python', 'ruby'],
 'sarah': ['c'],
 'edward': ['ruby', 'go'],
 'phil': ['python', 'haskell'],
 }
for name, languages in favorite_languages.items():    
     print("\n" + name.title() + "'s favorite languages are:")
     for language in languages:
             print(language.title())

Jen's favorite languages are:
Python
Ruby

Sarah's favorite languages are:
C

Edward's favorite languages are:
Ruby
Go

Phil's favorite languages are:
Python
Haskell

In [242]:
users = {
 'aeinstein': {
 'first': 'albert',
 'last': 'einstein',
 'location': 'princeton',
 },
 'marie': {
 'first': 'marie',
 'last': 'curie',
 'location': 'paris',
 },
 }
for username, user_info in users.items():
  print("\nUsername: " + username)
  full_name = user_info['first'] + " " + user_info['last']
  location = user_info['location']
  print("\tFull name: " + full_name.title())
  print("\tLocation: " + location.title())

Username: aeinstein
	Full name: Albert Einstein
	Location: Princeton

Username: marie
	Full name: Marie Curie
	Location: Paris

In [243]:
information={"First_name":"Dildar","Last_name":"Ali","Age":22,"City":"Karachi"}
information2={"First_name":"Abdul","Last_name":"Samad","Age":18,"City":"Dadu"}
information3={"First_name":"Aamir","Last_name":"Khan","Age":25,"City":"Jamshoro"}
people=[information,information2,information3]
print(people)
print("\n                    'Result'")
for b in people:
    print("Fisrt name: "+b['First_name'])
    print("Last name: "+b['Last_name'])
    print("Age: "+str(b['Age'])+" years" )
    print("City: "+b['City']+"\n" )

[{'First_name': 'Dildar', 'Last_name': 'Ali', 'Age': 22, 'City': 'Karachi'}, {'First_name': 'Abdul', 'Last_name': 'Samad', 'Age': 18, 'City': 'Dadu'}, {'First_name': 'Aamir', 'Last_name': 'Khan', 'Age': 25, 'City': 'Jamshoro'}]

                    'Result'
Fisrt name: Dildar
Last name: Ali
Age: 22 years
City: Karachi

Fisrt name: Abdul
Last name: Samad
Age: 18 years
City: Dadu

Fisrt name: Aamir
Last name: Khan
Age: 25 years
City: Jamshoro

In [249]:
information={"First_name":"Dildar","Last_name":"Ali","Age":22,"City":"Karachi"}
information2={"First_name":"Abdul","Last_name":"Samad","Age":18,"City":"Dadu"}
information3={"First_name":"Aamir","Last_name":"Khan","Age":25,"City":"Jamshoro"}
people=information,information2,information3
print(people)
print("\n                    'Result'")
for b in people.keys():
    print("Fisrt name: "+b['First_name'])
    print("Last name: "+b['Last_name'])
    print("Age: "+str(b['Age'])+" years" )
    print("City: "+b['City']+"\n" )

({'First_name': 'Dildar', 'Last_name': 'Ali', 'Age': 22, 'City': 'Karachi'}, {'First_name': 'Abdul', 'Last_name': 'Samad', 'Age': 18, 'City': 'Dadu'}, {'First_name': 'Aamir', 'Last_name': 'Khan', 'Age': 25, 'City': 'Jamshoro'})

                    'Result'

AttributeError: 'tuple' object has no attribute 'keys'

In [250]:
linus={"name":'Linus',"kind":"Male Dog","owner's name":"Asad","age":2}
coco={"name":'Coco',"kind":"Male Cat","owner's name":"Dildar","age":1}
roxy={"name":'Roxy',"kind":"Female Cat ","owner's name":"Aamir","age":2.5}

pets=[linus,coco,roxy]
print(pets)
print('\n                     Result')
for pet in pets:
        print("Name of pet: "+pet['name'])
        print("Kind of pet: "+pet['kind'])
        print("owners_name: "+pet["owner's name"])
        print("Age: "+str(pet['age'])+" years\n" )

[{'name': 'Linus', 'kind': 'Male Dog', "owner's name": 'Asad', 'age': 2}, {'name': 'Coco', 'kind': 'Male Cat', "owner's name": 'Dildar', 'age': 1}, {'name': 'Roxy', 'kind': 'Female Cat ', "owner's name": 'Aamir', 'age': 2.5}]

                     Result
Name of pet: Linus
Kind of pet: Male Dog
owners_name: Asad
Age: 2 years

Name of pet: Coco
Kind of pet: Male Cat
owners_name: Dildar
Age: 1 years

Name of pet: Roxy
Kind of pet: Female Cat
owners_name: Aamir
Age: 2.5 years

In [253]:
favorite_places={
                 "Dildar":['Gorakh hills','moen-jo-Daro',"Hawksbay"],
                 "Asad":['Do Darya',"Al Manzar"],    
                 "Aamir":['Keejhar lake','Kashmir point']
}   

for name,place in favorite_places.items():
    print("\n"+name.title()+"'s favorite places are: ")
    for favorite in place:
        print(favorite.title())

Dildar's favorite places are:
Gorakh Hills
Moen-Jo-Daro
Hawksbay

Asad's favorite places are:
Do Darya
Al Manzar

Aamir's favorite places are:
Keejhar Lake
Kashmir Point

In [254]:
names={"Dildar":[1860,999,122],"Ali":[123,345,456],"Asad":[786,121,212],"Nasir":[736,546,980],"Bilal":[456,890,789]}
for name,favourite_number in names.items():
    print("\n"+name.title()+"'s favorite numbers are: ")
    for number in favourite_number:
        print(number)

Dildar's favorite numbers are:
1860
999
122

Ali's favorite numbers are:
123
345
456

Asad's favorite numbers are:
786
121
212

Nasir's favorite numbers are:
736
546
980

Bilal's favorite numbers are:
456
890
789

In [255]:
cities={
    "Dadu":{
    
    "country":"Pakistan",
    "fact":" is famous for places of interest like Gorakh Hill and Manchar Lake ",
    "population":171191
        },
    
    "krarchi": {
            'country':'Pakistan',
            'fact':' is the largest city of pakistan!' ,
            'population':" 14.91 million"
        },
    
    "Paris":{
        "country":"France",
        "fact":" is famous for Eiffil tower and the terraces of its cafés",
        "population":"2.161 million"
        
    }
                  
}
for city,names in cities.items():
    country=names["country"].title()
    fact=names["fact"]
    population=str(names["population"])
    
    print("\n"+city.title()+" is in "+country+".")
    print(city.title()+fact)
    print(city.title()+" has a poultaion of around "+population)

Dadu is in Pakistan.
Dadu is famous for places of interest like Gorakh Hill and Manchar Lake
Dadu has a poultaion of around 171191

Krarchi is in Pakistan.
Krarchi is the largest city of pakistan!
Krarchi has a poultaion of around  14.91 million

Paris is in France.
Paris is famous for Eiffil tower and the terraces of its cafés
Paris has a poultaion of around 2.161 million

# Chapter#07

In [256]:
total=0
while True:
    n=input("Enter a number: ")
    if n=="d":
        break
    else:
        
        
        total+=int(n)
print(total)

Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: d
9

In [257]:
summ=0
n=input("Enter you numbers in commas:").split(',')
for a in n:
    summ+=int(a)
print("Total sum of numbers are: ",summ)

Enter you numbers in commas:2,3,4
Total sum of numbers are:  9

In [2]:
a=0
while True:
    n=input("Enter any number and press 'w' for exit: ")
    if n=='w':
            break
    else:
        a+=int(n)
      
print(a)

Enter any number and press 'w' for exit: 2
Enter any number and press 'w' for exit: 3
Enter any number and press 'w' for exit: 5
Enter any number and press 'w' for exit: 6
Enter any number and press 'w' for exit: 77
Enter any number and press 'w' for exit: w
93

In [3]:
a=0
n=input("Enter you numbers: ").split(" ")
for i in n:
    a+=int(i)
print(a)

Enter you numbers: 2 3 4 55
64

In [4]:
prompt = "If you tell us who you are, we can personalize the messages you see."
prompt += "\nWhat is your first name? "
name = input(prompt)
print("\nHello, " + name + "!")

If you tell us who you are, we can personalize the messages you see.
What is your first name? Dildar

Hello, Dildar!

In [5]:
prompt = "If you tell us who you are, we can personalize the messages you see.\nWhat is your first name? "

name = input(prompt)
print("\nHello, " + name + "!")

If you tell us who you are, we can personalize the messages you see.
What is your first name? Dildar

Hello, Dildar!

In [8]:
a=0
while a<=5:
    print(a)
    a+=1

0
1
2
3
4
5

In [10]:
a=1
while a<=5:
    print(a)
    a+=1

1
2
3
4
5

In [11]:
prompt = "\nTell me something, and I will repeat it back to you:\nEnter 'quit' to end the program."

message = ""
active=True
while active:
#message != 'quit':
    message = input(prompt)
    
    if message=="quit":
        active=False
    else:    
        print(message)

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program.Hi
Hi

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program.Hello
Hello

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program.quit

In [12]:
prompt = "\nPlease enter the name of a city you have visited:\nEnter 'quit' when you are finished."


while True:
    city=input(prompt)
    if city=="quit":
        break
    else:
        print("I would like to visit "+city.title()+"!")

Please enter the name of a city you have visited:
Enter 'quit' when you are finished.dadu
I would like to visit Dadu!

Please enter the name of a city you have visited:
Enter 'quit' when you are finished.khi
I would like to visit Khi!

Please enter the name of a city you have visited:
Enter 'quit' when you are finished.quit

In [13]:
a=0
while a<10:
    a=a+1
    if a%2==0:
            continue
    else:
      
        print(a,end=" ")

1 3 5 7 9

In [14]:
a=0
while a<10:
    a=a+1
    if a%2!=0:
            continue
    else:
      
        print(a,end=" ")

2 4 6 8 10

In [15]:
while True:
    toppings=input("Please enter series of pizza toppings or type 'quit' to exit:")
    if toppings=="quit":
        break
    else:
        print(f"you'll add '{toppings}' to your pizza!")

Please enter series of pizza toppings or type 'quit' to exit:mushroom
you'll add 'mushroom' to your pizza!
Please enter series of pizza toppings or type 'quit' to exit:chicken
you'll add 'chicken' to your pizza!
Please enter series of pizza toppings or type 'quit' to exit:pepper
you'll add 'pepper' to your pizza!
Please enter series of pizza toppings or type 'quit' to exit:quit

In [1]:
while True:
    
    age=input("Please enter your age or press 'd' to exit: ")
    
    if age=='d':   
                  break   
             
    elif int(age)<3:
                         print("The ticket is free")
    elif int(age)<12:
                         print("The ticket is $10")
    elif int(age)>=12:
                         print("The ticket is $15")

Please enter your age or press 'd' to exit: 1
The ticket is free
Please enter your age or press 'd' to exit: 3
The ticket is $10
Please enter your age or press 'd' to exit: 12
The ticket is $15
Please enter your age or press 'd' to exit: d

In [2]:
unconfimed_users=["Ali","asad","dildar","Bilal"]
confirmed_users=[]

while unconfimed_users:
    current_users=unconfimed_users.pop()
    print(f"The current users are {current_users.title()}")
    
    confirmed_users.append(current_users)
print("\nThe following users have been cofirmed!")
for name in confirmed_users:
        print(name.title())

The current users are Bilal
The current users are Dildar
The current users are Asad
The current users are Ali

The following users have been cofirmed!
Bilal
Dildar
Asad
Ali

In [3]:
pets=['dog','cat','dog','goldfish','cat','rabbit','cat']
print(pets)

while 'cat' in pets:
    pets.remove('cat')
print(pets)

['dog', 'cat', 'dog', 'goldfish', 'cat', 'rabbit', 'cat']
['dog', 'dog', 'goldfish', 'rabbit']

In [9]:
responses={}
polling_active = True
while polling_active:
    
 
    name = input("\nWhat is your name? ")
    response = input("Which mountain would you like to climb someday? ")
 

    responses[name] = response
 

    repeat = input("Would you like to let another person respond? (yes/ no) ")
    if repeat == 'no':
         polling_active = False
 

print("\n--- Poll Results ---")
for name, response in responses.items():
 print(name + " would like to climb " + response + ".")

What is your name? Dildar
Which mountain would you like to climb someday? k2
Would you like to let another person respond? (yes/ no) yes

What is your name? Asad
Which mountain would you like to climb someday? m2
Would you like to let another person respond? (yes/ no) no

--- Poll Results ---
Dildar would like to climb k2.
Asad would like to climb m2.

In [10]:
sandwich_orders=["French Dip","Reuben","Meatball","Egg Salad","Tuna"]
finished_sandwiches=[]
while sandwich_orders:
    sandwiches=sandwich_orders.pop()
    print(f"I made your {sandwiches.title()} sandwich.")  
    finished_sandwiches.append(sandwiches)
print("\nList of made sandwiches!")  
for sandwich in finished_sandwiches:
    print(sandwich,"sandwich")
  #  print(sandwiches)

I made your Tuna sandwich.
I made your Egg Salad sandwich.
I made your Meatball sandwich.
I made your Reuben sandwich.
I made your French Dip sandwich.

List of made sandwiches!
Tuna sandwich
Egg Salad sandwich
Meatball sandwich
Reuben sandwich
French Dip sandwich

In [11]:
sandwich_orders=["Pastrami","Reuben","Meatball","Pastrami","Egg Salad","Pastrami","Tuna"]
finished_sandwiches=[]

print("The Deli has run out of pastrami!")
while 'Pastrami' in sandwich_orders:
    sandwich_orders.remove('Pastrami')

print("\n")
while sandwich_orders:
    current_sandwich = sandwich_orders.pop()
    print("I'm working on your " + current_sandwich + " sandwich.")
    finished_sandwiches.append(current_sandwich)

print("\nFinally!!")
for sandwich in finished_sandwiches:
    print("I made a " + sandwich + " sandwich.")

The Deli has run out of pastrami!


I'm working on your Tuna sandwich.
I'm working on your Egg Salad sandwich.
I'm working on your Meatball sandwich.
I'm working on your Reuben sandwich.

Finally!!
I made a Tuna sandwich.
I made a Egg Salad sandwich.
I made a Meatball sandwich.
I made a Reuben sandwich.

In [12]:
name_prompt = "\nWhat's your name? "
place_prompt = "If you could visit one place in the world, where would it be? "
continue_prompt = "\nWould you like to ask someone else respond? (yes/no) "

responses = {}

while True:
     
    name = input(name_prompt)
    place = input(place_prompt)
    
    responses[name] = place
   
    repeat = input(continue_prompt)
    if repeat != 'yes':
        break

print("\n--- Results ---")
for name, place in responses.items():
    print(name.title() + " would like to visit " + place.title() + ".")

What's your name? Dildar
If you could visit one place in the world, where would it be? Italy

Would you like to ask someone else respond? (yes/no) yes

What's your name? Asa
If you could visit one place in the world, where would it be? Belgium

Would you like to ask someone else respond? (yes/no) no

--- Results ---
Dildar would like to visit Italy.
Asa would like to visit Belgium.

In [ ]:
#                             THE END OF SEVEN CAHPTERS